<section id="task">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask(addNewTaskCompActive!)">Add Task</button>
    </menu>
  </header>
  <!-- events yay -->
  @if(addNewTaskCompActive){
  <menu>
    <app-new-task
      [userId]="userId"
      [addButtonActive]="addNewTaskCompActive"
      (addTask)="onCancelAddTask($event)"
    />
  </menu>
  }

  <ul>
    @for(task of selectedUserTasks; track task.id ) {

    <li>
      <app-task [userTask]="task" />
    </li>
    }
  </ul>
</section>
